$color-white: #ffffff;
$color-black: #000000;

$color-gray-1: #8b9196;
$color-gray-2: #64696d;
$color-gray-3: #9c9fa1;
$color-gray-4: #e1e1e1;
$color-gray-5: #a6abb0;
$color-gray-6: #b4b4b4;
$color-gray-7: #6b7174;
$color-gray-8: #b8bcc0;
$color-gray-9: #f1f1f1;
$color-gray-10: #DDDDDD;
$color-gray-11: #7c888b;
$color-gray-12: #313437;
$color-gray-13: #f9f9f9;


$color-blue-1: #3588a0;
$color-blue-2: #65c7e3;
$color-blue-3: #61b1cc;
$color-blue-4: #146076;
$color-blue-5: #5aaac1;
$color-blue-6: #308ca6;
$color-blue-7: #46a4be;
$color-blue-8: #19cae3;
$color-blue-9: #09a1cc;
$color-blue-10: #6ccae5;

$color-yellow-1: #f0cd6a;
$color-yellow-2: #edb51f;
$color-yellow-3: #c09a34;

$color-brown-1: #463508;

$color-red-1: #D9534F;
$color-red-2: #FDF7F7;